:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-background: #f6f6f6;
    --section-padding: 60px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif
}
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    width: 60px;
}
header .links {
    position: relative;
}
header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
header .links .icon span:first-child {
    width: 100%;
}
header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
header .links .icon span:last-child {
    width: 100%;
}
header .links:hover span:nth-child(2) {
    width: 100%;
}
header .links ul {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    top: 185%;
    list-style: none;
    background-color: var(--section-background);
    min-width: 200px;
    display: none;
    transition: 0.3s;
}
header .links:hover ul {
    display: block;
}
header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent var(--section-background) transparent;
    border-style: solid;
    right: 5px;
    top: -20px;
}
header .links ul li a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #222;
    transition: 0.3s;
}
header .links ul li a:hover {
    padding-left: 25px;
}
header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.landing {
    background-image: url(../imgs/beatenberg-g2b150239a_1920.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 64px);
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
}
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    text-align: center;
    margin: 10px;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
    font-size: 17px;
}
.features .feat p {
    color: #777;
    font-size: 18px;
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
}
.special-heading + p {
    text-align: center;
    margin: -42px 0 0;
    font-size: 17px;
    color: #797979;
}
.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .content .srv {
    display: flex;
    margin-bottom: 40px
}
.services .content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .content .srv .text {
    flex: 1;
}
.services .content .text h3 {
    margin: 0 0 20px
}
.services .content .text p {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
.services .content .image {
    position: relative;
    text-align: center;
}
.services .content .image::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 80px;
    height: calc(100% + 60px);
    right: 0;
    top: -9%;
    z-index: -1;
}
.services .content .image img {
    width: 260px;
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .content .type {
    background-color: white;
}
.portfolio .content .type img {
    max-width: 100%;
}
.portfolio .content .type .info {
    padding: 20px;
}
.portfolio .content .type .info h3 {
    margin: 0;
    padding-bottom: 15px;
}
.portfolio .content .type .info p {
    color: #777;
    line-height: 1.6;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}
.about .content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 80px;
    height: calc(100% + 60px);
    top: -30px;
    left: -20px;
    z-index: -1;
}
.about .content .image::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -125px;
    top: -29px;
}
.about .content .image img {
    max-width: 100%;
}
.about .content .text {
    flex-basis: calc(100% - 500px);
}
.about .content .text p:first-of-type {
    line-height: 2;
    font-weight: bold;
    color: #777;
    margin-bottom: 50px;
}
.about .content .text hr {
    width: 50%;
    display: inline-block;
    height: 3px;
    background-color: var(--main-color);
}
.about .content .text p:last-of-type {
    line-height: 2;
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
}
.contact .info .link {
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 800;
    display: block;
    margin-bottom: 15px;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 15px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
.footer {
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
    background-color: var(--secondary-color);
    color: white;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}