@media (max-width: 568px) {
    .contact .info .label {
        font-size: 25px;
    }
    .contact .info .link {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -30px;
    }
    .services .content .srv {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .about .content {
        flex-direction: column;
        text-align: center;
    }
    .about .content .image::before,
    .about .content .image::after {
        display: none;
    }
    .about .content .image {
        margin: 0 auto 60px;
    }
}
@media (max-width: 1199px) {
    .image-col {
        display: none;
    }
}